Data Factory/Data Factory Ent-To-End/pipeline/PL_MIGRACION_OP.json
{
	"name": "PL_MIGRACION_OP",
	"properties": {
		"activities": [
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "MigracionOnPrem",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@if(equals(item().table_name,'DimAirline'),pipeline().parameters.p_mapping_airline, if(equals(item().table_name,'DimFlight'),pipeline().parameters.p_mapping_flight,pipeline().parameters.p_mapping_passenger))",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_SERVER",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ONPREM",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select \n    table_schema,\n    table_name\nfrom information_schema.tables\nwhere table_type = 'BASE TABLE'\n  and table_schema = 'dbo';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ALL_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"p_mapping_flight": {
				"type": "object",
				"defaultValue": "{             \"type\": \"TabularTranslator\",             \"mappings\": [                 {                     \"source\": {                         \"name\": \"flight_id\",                         \"type\": \"Int32\",                         \"physicalType\": \"int\"                     },                     \"sink\": {                         \"name\": \"flight_id\",                         \"type\": \"Int32\",                         \"physicalType\": \"INT_32\"                     }                 },                 {                     \"source\": {                         \"name\": \"flight_number\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"flight_number\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"departure_time\",                         \"type\": \"TimeSpan\",                         \"physicalType\": \"time\"                     },                     \"sink\": {                         \"name\": \"departure_time\",                         \"type\": \"TimeSpan\",                         \"physicalType\": \"INT_96\"                     }                 },                 {                     \"source\": {                         \"name\": \"arrival_time\",                         \"type\": \"TimeSpan\",                         \"physicalType\": \"time\"                     },                     \"sink\": {                         \"name\": \"arrival_time\",                         \"type\": \"TimeSpan\",                         \"physicalType\": \"INT_96\"                     }                 }"
			},
			"p_mapping_passenger": {
				"type": "object",
				"defaultValue": "{             \"type\": \"TabularTranslator\",             \"mappings\": [                 {                     \"source\": {                         \"name\": \"passenger_id\",                         \"type\": \"Int32\",                         \"physicalType\": \"int\"                     },                     \"sink\": {                         \"name\": \"passenger_id\",                         \"type\": \"Int32\",                         \"physicalType\": \"INT_32\"                     }                 },                 {                     \"source\": {                         \"name\": \"full_name\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"full_name\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"gender\",                         \"type\": \"String\",                         \"physicalType\": \"char\"                     },                     \"sink\": {                         \"name\": \"gender\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"age\",                         \"type\": \"Int32\",                         \"physicalType\": \"int\"                     },                     \"sink\": {                         \"name\": \"age\",                         \"type\": \"Int32\",                         \"physicalType\": \"INT_32\"                     }                 },                 {                     \"source\": {                         \"name\": \"country\",                         \"type\": \"String\",                         \"physicalType\": \"varchar\"                     },                     \"sink\": {                         \"name\": \"country\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 }"
			},
			"p_mapping_airline": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "airline_id",
								"type": "Int32",
								"physicalType": "int"
							},
							"sink": {
								"name": "airline_id",
								"type": "Int32",
								"physicalType": "INT_32"
							}
						},
						{
							"source": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "varchar"
							},
							"sink": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "varchar"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "UTF8"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-08T06:01:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}